<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>eSciDoc Infrastructure</display-name>

  <!--
    ############################ Context Params ############################
  -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:/META-INF/spring/applicationContext-common.xml
      classpath:/META-INF/spring/applicationContext-dataobjects-spec.xml
      classpath:/META-INF/spring/applicationContext-cl-utility.xml
      classpath:/META-INF/spring/applicationContext-task-executor.xml
      classpath:/META-INF/spring/applicationContext-cxf.xml
      classpath:/META-INF/spring/applicationContext-cache.xml
      classpath:/META-INF/spring/applicationContext-jms-server.xml
      classpath:/META-INF/spring/applicationContext-fedora-service-jaxrs-consumer.xml
      classpath:/META-INF/spring/applicationContext-fedora-client.xml
      classpath:/META-INF/spring/applicationContext-statistic-service-spec.xml
      classpath:/META-INF/spring/applicationContext-statistic-service-impl.xml
      classpath:/META-INF/spring/applicationContext-index-service-spec.xml
      classpath:/META-INF/spring/applicationContext-index-service-impl.xml
      classpath:/META-INF/spring/applicationContext-purge-service-spec.xml
      classpath:/META-INF/spring/applicationContext-purge-service-impl.xml
      classpath:/META-INF/spring/applicationContext-sm.xml
      classpath:/META-INF/spring/applicationContext-om.xml
      classpath:/META-INF/spring/applicationContext-aa.xml
      classpath:/META-INF/spring/applicationContext-adm.xml
      classpath:/META-INF/spring/applicationContext-cmm.xml
      classpath:/META-INF/spring/applicationContext-oai.xml
      classpath:/META-INF/spring/applicationContext-oum.xml
      classpath:/META-INF/spring/applicationContext-sb.xml
      classpath:/META-INF/spring/applicationContext-st.xml
      classpath:/META-INF/spring/applicationContext-tme.xml
      file:///${ESCIDOC_HOME}/conf/rest-services.xml
      classpath:applicationContext-persistence.xml
      classpath:applicationContext-webapp.xml
      file:///${ESCIDOC_HOME}/conf/escidoc-login.xml
    </param-value>
  </context-param>

  <!--
    ############################ # Filter ############################
  -->
  <filter>
    <filter-name>springSecurityDatabaseFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter>
    <filter-name>springSecurityLdapFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter>
    <filter-name>springSecurityShibbolethFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter>
    <filter-name>springSecurityOpenidFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>

  <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>de.escidoc.core.common.persistence.hibernate.CustomHibernateSessionFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>escidoc-core.SessionFactory</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>authorizationFilter</filter-name>
    <filter-class>de.escidoc.core.aa.servlet.AuthorizationFilter</filter-class>
  </filter>

  <!--
    ############################ # Filter Mapping ############################
  -->
  <filter-mapping>
    <filter-name>springSecurityDatabaseFilterChain</filter-name>
    <url-pattern>/aa/login/database/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>springSecurityDatabaseFilterChain</filter-name>
    <url-pattern>/aa/database/j_spring_security_check/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>springSecurityLdapFilterChain</filter-name>
    <url-pattern>/aa/login/ldap/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>springSecurityLdapFilterChain</filter-name>
    <url-pattern>/aa/ldap/j_spring_security_check/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>springSecurityShibbolethFilterChain</filter-name>
    <url-pattern>/aa/login/shibboleth/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>springSecurityShibbolethFilterChain</filter-name>
    <url-pattern>/aa/shibboleth/j_spring_security_check/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>springSecurityOpenidFilterChain</filter-name>
    <url-pattern>/aa/login/openid/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>springSecurityOpenidFilterChain</filter-name>
    <url-pattern>/aa/openid/j_spring_openid_security_check/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>authorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--
    ############################ # Listener ############################
  -->
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

  <!--
    ############################ # Servlets ############################
  -->

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>de.escidoc.core.aa.servlet.Login</servlet-class>
    <init-param>
      <param-name>static-resources-list</param-name>
      <param-value>
        (\S)+.html 
        (\S)+.jpg 
        (\S)+.png 
        (\S)+.gif 
        (\S)+.xsl 
        (\S)+.xsd 
      </param-value>
    </init-param>
    <init-param>
      <param-name>redirects-list</param-name>
      <param-value>
        (\S)+.jsp 
      </param-value>
    </init-param>
    <init-param>
      <param-name>redirect-servlet-name</param-name>
      <param-value>jsp</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <display-name>CXF Servlet</display-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <init-param>
      <param-name>static-resources-list</param-name>
      <param-value>
        (\S)+.html 
        (\S)+.jpg 
        (\S)+.png 
        (\S)+.gif 
        (\S)+.xsl 
        (\S)+.xsd 
      </param-value>
    </init-param>
    <init-param>
      <param-name>redirects-list</param-name>
      <param-value>
        /aa/logout(\S)* 
        /aa/login(\S)* 
      </param-value>
    </init-param>
    <init-param>
      <param-name>redirect-servlet-name</param-name>
      <param-value>LoginServlet</param-value>
    </init-param>
  </servlet>


  <!--
    ############################ # Servlet Mappings
    ############################
  -->

  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <session-config>
    <!-- Default to 5 minute session timeouts -->
    <session-timeout>5</session-timeout>
  </session-config>

  <!--
    currently the W3C havent settled on a media type for WSDL;
    http://www.w3.org/TR/2003/WD-wsdl12-20030303/#ietf-draft for now we go
    with the basic 'it's XML' response
  -->
  <mime-mapping>
    <extension>wsdl</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <mime-mapping>
    <extension>xsd</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>

  <welcome-file-list id="WelcomeFileList">
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
