<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.username">escidoc</property>
		<property name="connection.password">escidoc</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/escidoc-core/aa</property-->
		<mapping resource="de/escidoc/core/common/util/security/persistence/InvocationMapping.hbm.xml" />
		<mapping resource="de/escidoc/core/common/util/security/persistence/MethodMapping.hbm.xml" />				
	</session-factory>
</hibernate-configuration>